<div class="totals box">
    <h2><%= t("common.statics")%></h2>
    <ul>
        <li>社区会员: <%= @users_count %> 人</li>
        <li>话题数: <%= @topics_count %> 个</li>
        <li>回复数: <%= @replies_count %> 条</li>
    </ul>
</div>
